* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	cursor: pointer;
	:hover {
		opacity: 0.7;
	}
}

:root {
	/* * khai bao bien & thong tin chung */
	--ff-primary: "Satoshi", san-serif;
	--ff-secondary: "Intergral", san-serif;
	--color-primary: #000;
	--color-secondary: #f0eeed;
}

html {
	transition: all 0.3s ease-in-out;
}

h1.section-title {
}

h2.section-title {
	margin: 64px auto 55px;
	font-family: var(--ff-secondary);
	color: var(--color-primary);
}

.flex-space-beetwen {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	padding: 16px 54px;
	border-radius: 62px;
	border: none;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	text-align: center;
	cursor: pointer;
}

.button.button--big {
	min-width: 100px;
	padding: 16px 54px;
	font-size: 16px;
}

.button.button--medium {
	min-width: 80px;
	padding: 14px 48px;
	font-size: 16px;
}

.button.button--small {
	min-width: none;
	padding: 12px 32px;
	font-size: 14px;
}

.button.button--primary {
	background-color: var(--color-primary);
	color: #fff;
}

.button.button--primary:hover {
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid #ccc;
}

.button.button--secondary {
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid #ccc;
}

.button.button--secondary:hover {
	background-color: var(--color-primary);
	color: #fff;
}

/* * HEADER: BEGIN */
header {
	/* css cua header */

	.header-top {
		background-color: var(--color-primary);
	}

	.header-main {
		padding: 24px 0;
		.logo {
		}
		.main-menu {
		}
		ul {
			margin-bottom: 0;
		}
		li {
		}
		.user-control {
		}

		p {
			text-align: center;
		}
		ul {
			gap: 24px;
		}
		.logo > a {
			font-size: 32px;
			font-weight: 700;
		}

		li > a {
			font-size: 16px;
			font-weight: 400;
		}

		input {
			border-radius: 62px;
			padding: 12px 16px;
			background-color: var(--color-secondary);
			border: none;
			min-width: 300px;
		}

		i {
			font-size: 24px;
		}
	}
}
/* * HEADER: END */

/* * BANNER: BEGIN */
#banner {
}
/* * BANNER: END */

/* * BRAND: BEGIN */
#brand {
}
/* * BRAND: END */
