:root {
	/* * khai bao bien & thong tin chung */
	--ff-primary: "Satoshi", san-serif;
	--color-primary: #000;
	--color-secondary: #f0eeed;
}

html {
}

/* * HEADER: BEGIN */
header {
	/* css cua header */
	.header-top {
		background-color: var(--color-primary);
		p {
			text-align: center;
		}
	}

	.header-main {
	}
}
/* * HEADER: END */

/* * BANNER: BEGIN */
#banner {
}
/* * BANNER: END */

/* * BRAND: BEGIN */
#brand {
}
/* * BRAND: END */
